.buscar-az {
  margin-left: 180px;
  margin-right: 180px;

  form.search-select {
  	width: 250px;
  }

  form.filtro-select {
  	width: 305px;
  }

  form.filtro-palabra {
  	width: 320px;
  }
}